/* Modal Background */
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  /* Modal Container */
  .modalContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Modal Content */
  .modalContent {
    margin-top: 10px;
  }
  
  /* Close Button */
  .closeButton {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    

  }
  
  .closeButton:hover {
    background-color: #ff3333;
  }
  
  /* Typography */
  h2 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  p {
    margin: 5px 0;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .modalContainer {
      width: 90%;
      padding: 15px;
    }
  
    .closeButton {
      font-size: 14px;
      padding: 4px 8px;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }





  